<section>
    <h3 class="text-2xl md:text-3xl font-bold mb-6">Actualités</h3>
    <div class="space-y-6">
        <div class="grid md:grid-cols-2 gap-8">
            {% for item in news %}
                <a
                        class="{% if loop.index > 2 %}hidden md:block{% endif %}  bg-white shadow rounded-lg overflow-hidden  hover:shadow-2xl hover:-translate-y-2 transition-all duration-300"
                        href="{{ item.link }}"
                >
                    <img
                            src="{{ item.post_thumbnail_url }}"
                            {% if item.post_thumbnail_srcset %}srcset="{{ item.post_thumbnail_srcset }}"{% endif %}
                            {% if item.post_thumbnail_sizes %}sizes="{{ item.post_thumbnail_sizes }}"{% endif %}
                            alt="{{ item.post_title }}"
                            class="w-full h-48 object-cover"
                            loading="lazy"
                    />

                    <div class="p-4">
                        <h4 class="font-bold text-lg mb-2"> {{ item.post_title }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <a href="/actualites"
       class="inline-block mt-8  bg-cta-dark text-white font-semibold py-2 px-5 rounded-lg hover:bg-cta-light transition-colors">
        Toutes les actualités
    </a>
</section>